<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucaslima.bottomappbar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BottomBar_1" />
        <activity android:name=".BottomBar_2" />
        <activity android:name=".BottomBar_3" />
        <activity android:name=".BottomBar_4" />
        <activity android:name=".BottomBar_5" />
        <activity android:name=".BottomBar_6" />
        <activity android:name=".BottomBar_7" />
        <activity android:name=".BottomBar_8" />
        <activity android:name=".About" />
        <activity android:name=".License" />
        <activity android:name=".BottomBar_9" />
        <activity android:name=".BottomBar_10" />
        <activity android:name=".BottomBar_11"></activity>
    </application>

</manifest>